<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Ames Housing Data and Kaggle Challenge

---
## Problem Statement

Keller Williams Ames wants to gain a competive advantage against other brokerages in the area. They want to predict the sale price of new homes on the market, to help both their seller agents and buyer agents provide unmatched service to their clients.

# Project 2 - Submission Process

In [2]:
import pandas as pd
import numpy as np

In [3]:
!pwd

/Users/wesleyosborne/Documents/GeneralAssembly/dsir-82/projects/project-2/code

In [4]:
ames_train = pd.read_csv('../datasets/train.csv')
ames_train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

## Null Model

In [5]:
ames_train['SalePrice'].isnull().sum()

0

In [6]:
ames_train['SalePrice'].mean()

181469.70160897123

## Kaggle Submission

In [7]:
ames_test = pd.read_csv('../datasets/test.csv')
ames_test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [8]:
preds_arr = np.full_like(ames_test['Id'], ames_train['SalePrice'].mean(), dtype = float)
preds_arr[:5]

array([181469.70160897, 181469.70160897, 181469.70160897, 181469.70160897,
       181469.70160897])

In [9]:
preds_arr.shape

(878,)

In [10]:
ames_test.shape

(878, 80)

In [11]:
submission = pd.DataFrame(preds_arr, columns = ['SalePrice'], index = ames_test['Id'])
submission.head()

          SalePrice
Id
2658  181469.701609
2718  181469.701609
2414  181469.701609
1989  181469.701609
625   181469.701609

In [12]:
submission.to_csv('../datasets/null_preds.csv')

In [14]:
submission.shape

(878, 1)